
.ag-cell {
    display: flex;
    align-items: center;
    border: none;
}

.ag-root ::-webkit-scrollbar {
  width: 8px;
}
.ag-root ::-webkit-scrollbar-thumb {
  background: #babdc2;
  border-radius: 3px;
}
.ag-root ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.ag-root ::-webkit-scrollbar-thumb:hover {
  background: rgb(172, 171, 171); 
}

.ag-root {
  overflow-y: hidden;
}

.ag-center-cols-viewport {
  overflow-x: hidden;
}

