div.TopContent {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  div.Label {
    font-size: 25px;
    color: #333333;
  }
}

div.Profile {
  width: 80%;
  padding: 0 32px 0 32px;
}

div.txtFullname {
  font-weight: 600;
  font-size: 24px;
  color: #4F4F4F;
}
div.txtID {
  font-size: 18px;
  span {
    color: #666666;
  }
}


div.boxAvatar {
  margin-right: 32px;

  .ant-avatar-lg {
    width: 165px;
    height: 165px;
    line-height: 165px;
    border: 1px solid #4ABFA9;
  }
}