.trigger {
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #4ABFA9;
  }
  
  .logo {
    height: 64px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .user-icon {
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .global-icon {
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .user-icon:hover {
    color: #4ABFA9;
  }
  
  .global-icon:hover {
    color: #4ABFA9;
  }

.ant-layout.ant-layout-has-sider {
  >.ant-layout {
    overflow-x: hidden;
    overflow-y: hidden;

    >div.ant-page-header {
      padding: 10px;

      >div.ant-page-header-heading {
        >span.ant-page-header-heading-extra {
          font-size: 24px;
        }
      }
    }
  }
}